RasaasDemo.json
[
    {
        "id": "2f82d84a.d829f",
        "type": "tab",
        "label": "RasaasDemo",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a2069b4b.8b5ed8",
        "type": "http in",
        "z": "2f82d84a.d829f",
        "name": "/webhook",
        "url": "/webhook",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 40,
        "wires": [
            [
                "c543f689.9a4408"
            ]
        ]
    },
    {
        "id": "c543f689.9a4408",
        "type": "init",
        "z": "2f82d84a.d829f",
        "name": "",
        "x": 210,
        "y": 40,
        "wires": [
            [
                "aa829c12.bbee9"
            ]
        ]
    },
    {
        "id": "135c951a.835963",
        "type": "finish",
        "z": "2f82d84a.d829f",
        "name": "",
        "x": 748,
        "y": 220,
        "wires": [
            [
                "8070ce06.508d7"
            ]
        ]
    },
    {
        "id": "8070ce06.508d7",
        "type": "http response",
        "z": "2f82d84a.d829f",
        "name": "http response",
        "statusCode": "",
        "headers": {},
        "x": 898,
        "y": 220,
        "wires": []
    },
    {
        "id": "f18c57c9.8e85c",
        "type": "template",
        "z": "2f82d84a.d829f",
        "name": "weather-template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://api.weatherstack.com/current?access_key=xxx&query={{slots.location}}",
        "output": "str",
        "x": 290,
        "y": 100,
        "wires": [
            [
                "32d1ca39.3ad06e"
            ]
        ]
    },
    {
        "id": "2756693d.946c0e",
        "type": "http request",
        "z": "2f82d84a.d829f",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 628,
        "y": 100,
        "wires": [
            [
                "8b59fd8f.24a59"
            ]
        ]
    },
    {
        "id": "32d1ca39.3ad06e",
        "type": "change",
        "z": "2f82d84a.d829f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 468,
        "y": 100,
        "wires": [
            [
                "2756693d.946c0e"
            ]
        ]
    },
    {
        "id": "9eb354e8.32b04",
        "type": "template",
        "z": "2f82d84a.d829f",
        "name": "otherwise",
        "field": "payload.text",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "It is {{payload.current.weather_descriptions.0}} in {{payload.location.name}}, {{payload.location.country}} at the moment. The temperature is {{payload.current.temperature}} degrees, \nthe humidity is {{payload.current.humidity}}% and the wind speed is {{payload.current.wind_speed}} mph.",
        "output": "str",
        "x": 300,
        "y": 160,
        "wires": [
            [
                "73cf767f.109ed8"
            ]
        ]
    },
    {
        "id": "47d49ded.2c5194",
        "type": "catch",
        "z": "2f82d84a.d829f",
        "name": "Catchall",
        "scope": null,
        "uncaught": false,
        "x": 80,
        "y": 320,
        "wires": [
            [
                "58e52787.2f0708"
            ]
        ]
    },
    {
        "id": "58e52787.2f0708",
        "type": "function",
        "z": "2f82d84a.d829f",
        "name": "prepare error message",
        "func": "\n\nvar infotext = \"Sorry, jetzt ist ein Fehler aufgetreten!!\\nDiese technische Info ist für meine Betreuer. \\n_\" + msg.error.message + \" (\" +  msg.error.source.id +\")._\\n\" + \" Bitte versuchen Sie es noch einmal mit einer anderen Eingabe.\"\n\n\npayload.infotext = infotext;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 270,
        "y": 320,
        "wires": [
            [
                "17992cb7.88487b"
            ]
        ]
    },
    {
        "id": "76e2ce0.8fa6eb4",
        "type": "http response",
        "z": "2f82d84a.d829f",
        "name": "http (500)",
        "statusCode": "",
        "headers": {},
        "x": 720,
        "y": 320,
        "wires": []
    },
    {
        "id": "65b63033.ba5d7",
        "type": "finish",
        "z": "2f82d84a.d829f",
        "name": "",
        "x": 590,
        "y": 320,
        "wires": [
            [
                "76e2ce0.8fa6eb4"
            ]
        ]
    },
    {
        "id": "17992cb7.88487b",
        "type": "sendtext",
        "z": "2f82d84a.d829f",
        "name": "",
        "position": "0",
        "positionType": "num",
        "text": "payload.infotext",
        "textType": "msg",
        "x": 460,
        "y": 320,
        "wires": [
            [
                "65b63033.ba5d7"
            ]
        ]
    },
    {
        "id": "73cf767f.109ed8",
        "type": "sendextra",
        "z": "2f82d84a.d829f",
        "name": "",
        "position": "0",
        "positionType": "num",
        "text": "payload.text",
        "textType": "msg",
        "image": "payload.current.weather_icons",
        "imageType": "msg",
        "attachment": "",
        "attachmentType": "str",
        "x": 300,
        "y": 220,
        "wires": [
            [
                "559bf1a4.898f78"
            ]
        ]
    },
    {
        "id": "5d24aa91.72a394",
        "type": "setslots",
        "z": "2f82d84a.d829f",
        "name": "",
        "text": "",
        "addcheck": false,
        "slots": [
            {
                "slotname": "location",
                "slotname-type": "str",
                "slotvalue": "",
                "slotvalue-type": "str"
            }
        ],
        "x": 600,
        "y": 220,
        "wires": [
            [
                "135c951a.835963"
            ]
        ]
    },
    {
        "id": "88479415.978508",
        "type": "http in",
        "z": "2f82d84a.d829f",
        "name": "/health",
        "url": "/health",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 70,
        "y": 380,
        "wires": [
            [
                "ef311f1d.9947"
            ]
        ]
    },
    {
        "id": "2427f09a.8e059",
        "type": "http response",
        "z": "2f82d84a.d829f",
        "name": "http response",
        "statusCode": "",
        "headers": {},
        "x": 360,
        "y": 380,
        "wires": []
    },
    {
        "id": "df491661.98c9e8",
        "type": "http in",
        "z": "2f82d84a.d829f",
        "name": "/actions",
        "url": "/actions",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 70,
        "y": 440,
        "wires": [
            [
                "c9d888e2.dab94"
            ]
        ]
    },
    {
        "id": "67b0be2.2deb94",
        "type": "http response",
        "z": "2f82d84a.d829f",
        "name": "http response",
        "statusCode": "",
        "headers": {},
        "x": 360,
        "y": 440,
        "wires": []
    },
    {
        "id": "ef311f1d.9947",
        "type": "change",
        "z": "2f82d84a.d829f",
        "name": "Status: ok",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"status\":\"ok\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 380,
        "wires": [
            [
                "2427f09a.8e059"
            ]
        ]
    },
    {
        "id": "c9d888e2.dab94",
        "type": "change",
        "z": "2f82d84a.d829f",
        "name": "actions",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[{\"name\":\"action_weather\"},{\"name\":\"action_more\"}]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 440,
        "wires": [
            [
                "67b0be2.2deb94"
            ]
        ]
    },
    {
        "id": "aa829c12.bbee9",
        "type": "switch",
        "z": "2f82d84a.d829f",
        "name": "",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "action_weather",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "action_more",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 106,
        "y": 114,
        "wires": [
            [
                "f18c57c9.8e85c"
            ],
            [
                "229c11ea.110936"
            ]
        ]
    },
    {
        "id": "5b5ac2d6.321934",
        "type": "http request",
        "z": "2f82d84a.d829f",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 450,
        "y": 260,
        "wires": [
            [
                "5f2aa558.5d16d4"
            ]
        ]
    },
    {
        "id": "229c11ea.110936",
        "type": "template",
        "z": "2f82d84a.d829f",
        "name": "wiki-template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "https://en.wikipedia.org/w/api.php?action=opensearch&limit=1&namespace=0&format=json&search={{slots.location}}",
        "output": "str",
        "x": 131,
        "y": 260,
        "wires": [
            [
                "c147a06b.49b2b"
            ]
        ]
    },
    {
        "id": "5f2aa558.5d16d4",
        "type": "sendextra",
        "z": "2f82d84a.d829f",
        "name": "",
        "position": "0",
        "positionType": "num",
        "text": "You can find more info here!",
        "textType": "str",
        "image": "",
        "imageType": "str",
        "attachment": "payload[3][0]",
        "attachmentType": "msg",
        "x": 600,
        "y": 260,
        "wires": [
            [
                "2f587fda.4540f8"
            ]
        ]
    },
    {
        "id": "2f587fda.4540f8",
        "type": "finish",
        "z": "2f82d84a.d829f",
        "name": "",
        "x": 748,
        "y": 260,
        "wires": [
            [
                "c51912c0.7ed228"
            ]
        ]
    },
    {
        "id": "c51912c0.7ed228",
        "type": "http response",
        "z": "2f82d84a.d829f",
        "name": "http response",
        "statusCode": "",
        "headers": {},
        "x": 898,
        "y": 260,
        "wires": []
    },
    {
        "id": "c147a06b.49b2b",
        "type": "change",
        "z": "2f82d84a.d829f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 260,
        "wires": [
            [
                "5b5ac2d6.321934"
            ]
        ]
    },
    {
        "id": "559bf1a4.898f78",
        "type": "sendbuttons",
        "z": "2f82d84a.d829f",
        "name": "",
        "position": "1",
        "positionType": "num",
        "text": "",
        "textType": "str",
        "addmode": "no",
        "buttons": [
            {
                "title": "Thanks, I am done",
                "title-type": "str",
                "payload": "/goodbye",
                "payload-type": "str"
            },
            {
                "title": "I have more questions",
                "title-type": "str",
                "payload": "/hello",
                "payload-type": "str"
            },
            {
                "title": "Please tell me more",
                "title-type": "str",
                "payload": "/inform_location",
                "payload-type": "str"
            }
        ],
        "x": 450,
        "y": 220,
        "wires": [
            [
                "5d24aa91.72a394"
            ]
        ]
    },
    {
        "id": "9958d58e.e8425",
        "type": "comment",
        "z": "2f82d84a.d829f",
        "name": "add api key for weatherstack",
        "info": "",
        "x": 440,
        "y": 60,
        "wires": []
    },
    {
        "id": "8b59fd8f.24a59",
        "type": "switch",
        "z": "2f82d84a.d829f",
        "name": "",
        "property": "payload.success",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 768,
        "y": 100,
        "wires": [
            [
                "88e8b933.29c788"
            ],
            [
                "9eb354e8.32b04"
            ]
        ]
    },
    {
        "id": "88e8b933.29c788",
        "type": "template",
        "z": "2f82d84a.d829f",
        "name": "on fail",
        "field": "payload.text",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "I am sorry. I cannot help you. {{payload.error.info}} !",
        "output": "str",
        "x": 641,
        "y": 162,
        "wires": [
            [
                "a8a0b3a0.debb78"
            ]
        ]
    },
    {
        "id": "a8a0b3a0.debb78",
        "type": "sendtext",
        "z": "2f82d84a.d829f",
        "name": "",
        "position": "0",
        "positionType": "num",
        "text": "payload.text",
        "textType": "msg",
        "x": 771,
        "y": 162,
        "wires": [
            [
                "135c951a.835963"
            ]
        ]
    }
]