TestPositionedResponses.json
[
    {
        "id": "1014720d.1ab89e",
        "type": "tab",
        "label": "TestPositionedRespones",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d75f2fa6.f30ad",
        "type": "http in",
        "z": "1014720d.1ab89e",
        "name": "/testhook",
        "url": "/testhook",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "d53bdda0.e6dc18"
            ]
        ]
    },
    {
        "id": "d53bdda0.e6dc18",
        "type": "init",
        "z": "1014720d.1ab89e",
        "name": "",
        "x": 270,
        "y": 60,
        "wires": [
            [
                "a277dfd8.c9d07"
            ]
        ]
    },
    {
        "id": "b39b02f9.281a8",
        "type": "finish",
        "z": "1014720d.1ab89e",
        "name": "",
        "x": 910,
        "y": 120,
        "wires": [
            [
                "34eb70a.c16591"
            ]
        ]
    },
    {
        "id": "34eb70a.c16591",
        "type": "http response",
        "z": "1014720d.1ab89e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1010,
        "y": 60,
        "wires": []
    },
    {
        "id": "2df4446a.3c45cc",
        "type": "sendextra",
        "z": "1014720d.1ab89e",
        "name": "",
        "position": "1",
        "positionType": "num",
        "text": "look",
        "textType": "str",
        "image": "",
        "imageType": "str",
        "attachment": "https://www.hs-kempten.de/",
        "attachmentType": "str",
        "x": 480,
        "y": 240,
        "wires": [
            [
                "b6a63ed6.8b72d"
            ]
        ]
    },
    {
        "id": "b6a63ed6.8b72d",
        "type": "sendextra",
        "z": "1014720d.1ab89e",
        "name": "",
        "position": "1",
        "positionType": "num",
        "text": "",
        "textType": "str",
        "image": "http://www.artnet.de/WebServices/images/ll1854413llg5YxfDrCWQFHPKAD/yves-klein-blue-venus.jpg",
        "imageType": "str",
        "attachment": "",
        "attachmentType": "str",
        "x": 620,
        "y": 120,
        "wires": [
            [
                "95707240.48eaf8"
            ]
        ]
    },
    {
        "id": "a277dfd8.c9d07",
        "type": "sendtext",
        "z": "1014720d.1ab89e",
        "name": "",
        "position": "0",
        "positionType": "num",
        "text": "Oh, thanks for your input.",
        "textType": "str",
        "x": 340,
        "y": 120,
        "wires": [
            [
                "b3e39374.a184e"
            ]
        ]
    },
    {
        "id": "95707240.48eaf8",
        "type": "sendbuttons",
        "z": "1014720d.1ab89e",
        "name": "",
        "position": "2",
        "positionType": "num",
        "text": "payload.text",
        "textType": "msg",
        "addmode": "before",
        "buttons": [
            {
                "title": "yes, thanks",
                "title-type": "str",
                "payload": "/goodbye",
                "payload-type": "str"
            },
            {
                "title": "i have more questions",
                "title-type": "str",
                "payload": "/hello",
                "payload-type": "str"
            }
        ],
        "x": 710,
        "y": 60,
        "wires": [
            [
                "b39b02f9.281a8"
            ]
        ]
    },
    {
        "id": "b3e39374.a184e",
        "type": "change",
        "z": "1014720d.1ab89e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.buttons",
                "pt": "msg",
                "to": "[{\"title\":\"good\",\"payload\":\"/good\"},{\"title\":\"not so good\",\"payload\":\"/complain\"}]",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.text",
                "pt": "msg",
                "to": "Please choose",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 240,
        "wires": [
            [
                "2df4446a.3c45cc"
            ]
        ]
    }
]